{% extends 'base.html' %}

{% load humanize %}

{% block content %}
    <h1>Notes</h1>
    <h4><a href="{% url 'note:create_note' %}">Create Note</a></h4>
    {% if not note_list %}
        <p>Empty</p>
    {% else %}
        {% for note in note_list %}
            <li>
                <p>{{ note.created_at|naturaltime }}</p>
                <h3><a href="{% url 'note:update_note' note.id %}">{{ note.title }}</a></h3>
                <p><a href="{% url 'note:delete_note' note.id %}">Delete</a></p>
            </li>
            <br>
        {% endfor %}
    {% endif %}
{% endblock content %} 