{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>
    {% block title %}
        NOTE
    {% endblock title %}
    </title>
</head>
<body>
    <nav>
        {% block nav %}
            {% if user.is_authenticated %}
                <div>
                    <h3>{{ user.username }}</h3>
                    <a href="{% url 'accounts:logout' %}">Log Out</a>
                </div>
            {% else %}
                <div>
                    <h3><a href="{% url 'accounts:login' %}">Log In</a></h3>
                    <p>Dont have an account? <a href="{% url 'accounts:sign_up' %}">Sign Up Here</a></p>
                </div>
            {% endif %}
        {% endblock nav %}
    </nav>
    <div class="container">
        <div class="list">
            {% block note_list %}
            {% endblock note_list %}
        </div>
        
        <div class="content">
            {% block content %}
                <h1>Change the content of this block</h1>
            {% endblock content %}
        </div>
    </div>
</body>
</html>